@use '../../scss/base' as *;

.error-container {
  padding: $padding-base;
  margin: 0 auto;
  width: 100%;
  border: 2px solid red;
  border-radius: 5px;
  background-color: rgba($color: red, $alpha: 0.1);

  .error-text {
    color: red;
    font-size: $font-lg;
    text-align: center;
  }
}