@use '../../scss/base' as *;

.home-container {
  padding: $padding-lg;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
  
    .search-container {
      outline: 2px solid $font-secondary;
      border-radius: 5px;
      width: 80%;
  
      .input {
        background-color: transparent;
        outline: none;
        border: none;
        color: $font-primary;
        font-size: $font-m;
        padding: $padding-base;
        width: 100%;
      }
    }
  
    .btn-container {
      display: flex;
      gap: 50px;
  
      .btn {
        min-width: 200px;
        border-radius: 5px;
        padding: $padding-base;
        color: $font-primary;
        font-weight: 700;
        font-size: $font-lg;
        background-color: $secondary-color;
  
        &:hover {
          color: $font-secondary;
          outline: 3px solid $font-secondary;
        }
      }
    }
  }
}