@use '../../scss/base' as *;

.home-container {
  padding: $padding-lg;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .title-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    .title {
      color: $font-secondary;
      text-align: center;
    }
    
    .error {
      position: absolute;
      color: red;
      bottom: -30px;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
  
    .search-container {
      outline: 2px solid $font-secondary;
      border-radius: 5px;
      width: 80%;
  
      .input {
        background-color: transparent;
        outline: none;
        border: none;
        color: $font-primary;
        font-size: $font-m;
        padding: $padding-base;
        width: 100%;
      }
    }
  
    .btn-container {
      display: flex;
      gap: 50px;
  
      .btn {
        min-width: 200px;
        border-radius: 5px;
        padding: $padding-base;
        color: $font-primary;
        font-weight: 700;
        font-size: $font-lg;
        background-color: $secondary-color;
  
        &:hover {
          color: $font-secondary;
          outline: 3px solid $font-secondary;
        }
      }
    }
  }
}

@include media(320px, 700px) {
  .home-container {
    padding: $padding-base;
    width: 100%;
  
    .title-container {
  
      .error {
        bottom: -20px;
      }
    }
  
    .form-container {
      gap: 50px;
  
      .search-container {
        width: 100%;
  
        .input {
          font-size: $font-sm;
          padding: $padding-sm;
        }
      }
  
      .btn-container {
        gap: 25px;
  
        .btn {
          min-width: 100px;
          font-weight: 600;
          font-size: $font-sm;
        }
      }
    }
  }
}

@include media(700px, 1000px) {
  .home-container {
    width: 90%;

    .title-container {

      .error {
        bottom: -25px;
      }
    }

    .form-container {

      .search-container {
        width: 90%;

        .input {
          font-size: $font-m;
          padding: $padding-base;
        }
      }

      .btn-container {
        gap: 35px;

        .btn {
          min-width: 150px;
          font-size: $font-m;
        }
      }
    }
  }
}