@use '../../scss/base' as *;

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-base;
  background-color: $secondary-color;

  .logo {
    @include textShadow;
  }
}