@use '../../scss/base' as *;

.header-container {
  padding: $padding-base;
  background-color: $secondary-color;

  .logo {
    @include textShadow;
  }
}

@include media(320px, 700px) {
  .header-container {
    text-align: center;
  }
}