@use './scss/base' as *;
@include global;

.main-container {
  background-color: $primary-color;
  color: $font-primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@include media(320px, 500px) {
  html {
    font-size: $font-xs;
  }
}

@include media(500px, 700px) {
  html {
    font-size: $font-sm;
  }
}

@include media(700px, 1000px) {
  html {
    font-size: $font-m;
  }
}